@use "sass:math";
@import "../assets/mixins";

.page-inner {
  padding-top: $page-top-padding;
  padding-bottom: $page-top-padding;
  height: 100%;

  &-container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  @include media-below($screen-mobile) {
    padding-top: $page-top-padding-mobile;
    padding-bottom: $page-top-padding-mobile;
  }
}

.content,
.filters-group {
  margin-top: #{math.div($page-top-padding, 2)};

  @include media-below($screen-mobile) {
    margin-top: #{math.div($page-top-padding-mobile, 2)};
  }
}
