@import "../assets/mixins";

.coin-chart {
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;

  canvas {
    width: 100%;
    height: 100%;
  }

  .charts-preview {
    border-radius: 16px 16px 0 0;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 1 0;

    canvas {
      width: 100%;
      height: calc(100vh - 216px - 128px);
      min-height: 480px;
    }
  }
}
