@import "../assets/mixins";

.coin-view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;

  &-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: .33rem solid rgba(0, 0, 0, .25);
      z-index: 1;
    }

    @include media-below($screen-tablet) {
      width: 5rem;
      height: 5rem;
    }
  }

  &-content {
    margin-left: 1rem;
    flex-shrink: 0;

    h1 {
      margin: 0 0 .25em;
      font-size: 2rem;
    }

    p {
      font-family: 'Roboto Mono', monospace;
      margin: 0;
    }

    @include media-below($screen-tablet) {
      margin-left: .75rem;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  &-stats {
    h3 {
      font-size: 1.25rem;
      margin: 0 0 .75rem;
    }

    @include media-below($screen-tablet) {
      width: 100%;
      margin-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .125);

      h3 {
        font-size: 1.125rem;
      }
    }
  }
}

.stats-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: -.35rem;
}

.stats-item {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  border: 1px dashed rgba(0, 0, 0, .25);
  padding: .5em .75em;
  border-radius: .5em;
  margin: .35rem;

  small {
    color: rgba(0, 0, 0, .5);
    margin: 0 0 .25em;
  }
}

.space {
  flex: 1 0;
}
