@import "../assets/mixins";

.filters {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .coin-select,
  .date-select {
    width: 240px;
  }

  .date-select {
    margin-left: 1rem;
  }
}
