@import "../assets/mixins";

.error-view {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  border: 1px dashed rgba(0, 0, 0, .25);
  padding: 1em 1.25em;
  border-radius: .5em;

  h3 {
    color: rgba(0, 0, 0, .5);
    margin: 0 0 .5em;
    font-size: 1rem;
  }

  p {
    margin: 0;
  }

  ul {
    margin-top: .25em;
    padding-left: 1em;

    li {
      list-style: disc;
    }
  }

  button {
    margin-top: .75em;
  }
}
