<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.ico">
        <title>Hacken Contest</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script crossorigin src="https://unpkg.com/react@18.1.0/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18.1.0/umd/react-dom.production.min.js"></script>
        <% } else { %>
        <script crossorigin src="https://unpkg.com/react@18.1.0/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18.1.0/umd/react-dom.development.js"></script>
        <% } %>
    </body>
</html>
