@keyframes slide-animation {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--slide-distance, 0) * -1));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-animation {
    --slide-distance: 60px;
    animation: slide-animation .5s;
}

.slide-animation-secondary {
    --slide-distance: 30px;
    animation: slide-animation .4s;
}
