@import "fonts";
@import "container";
@import "animations";
@import "mui";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body { height: 100%; }

#root {
  min-height: 100%;
}

body {
  background: #fafafa;
  color: #212121;
  margin: 0;
  font: 400 16px Roboto;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;

  &:focus {
    outline: none;
  }

  &.active {
    cursor: default;
  }
}

li {
  list-style: none;
}

button {
  font: 700 16px Roboto;
  user-select: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
}
