@import "../mixins";

.container {
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  min-width: $container-min-width;

  @include media-below($screen-laptop) {
    padding-right: $container-padding-laptop;
    padding-left: $container-padding-laptop;
  }

  @include media-below($screen-tablet) {
    padding-right: $container-padding-tablet;
    padding-left: $container-padding-tablet;
    max-width: $container-max-width-tablet;
    min-width: $container-min-width-tablet;
  }

  @include media-below($screen-mobile) {
    padding-right: $container-padding-mobile;
    padding-left: $container-padding-mobile;
    max-width: $container-max-width-mobile;
    min-width: $container-min-width-mobile;
  }
}
